<div class="game-poster">
    <img src="{{game.background_image}}" alt="Game Poster">
    <div class="game-info">
      <h3>{{game.name}}</h3>
      <h4>{{game.released}}</h4></div>
    <ul>
      <li>Rating - <ngb-rating class="stars" [rate]="game.rating"></ngb-rating></li>
      <li>Rating Top - <ngb-rating class="stars" [rate]="game.rating_top"></ngb-rating></li>
    </ul>
    <div class="console-icons">
      <a href="https://www.xbox.com/ru-RU/"><i class="fab fa-xbox"></i></a>
      <a href="https://www.playstation.com/uk-ua/"><i class="fab fa-playstation"></i></a>
      <a href="#"><i class="fas fa-laptop"></i></a>
      <a href="#"><i class="fas fa-desktop"></i></a>
    </div>
    <div *ngFor="let item of game.platforms" >
      <p>{{item.platform.name}}</p></div>
  <div>
    <button class="btn button"  (click)="showGames()">More</button>
  </div>
  </div>
<router-outlet></router-outlet>
