.game-poster{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 25px;

  width: 450px;
  min-height: 850px;
  padding: 20px;

  background: #161a3d;

  border-radius: 15px;
  &:hover{
    box-shadow:4px 3px 8px 7px rgb(200 152 44) ;
  }
  img {
    width: 350px;
    height: 200px;
    border-radius: 15px;
  }
  a{
    color: white;
  &:hover{
    color: #9090ff;
  }
  }
  li{
    list-style: none;
    font-size: 20px;
  }
}
.stars{
  font-size: 20px;
  color: gold;
}
.console-icons{
  font-size: 25px;
  margin: 15px;
  i{
    margin-right: 10px;
  }
}
.game-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{
    margin-top: 20px;
  }
}
.button{
  color: white;

  background: #9090ff;
  &:hover{
    background: #414695;
  }
}
