.list-of-platforms{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  height: 2000vh;

  margin: 25px;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
