<div class="form-registration">
  <form>
    <div class="section">
      <section>
        <h2>Name</h2>
        <input class="registration-input" type="text">
      </section>
      <section>
        <h2>User name</h2>
        <input class="registration-input" type="text">
      </section>
    </div>
    <div class="section">
      <section>
        <h2>Password</h2>
        <input class="registration-input" type="text">
      </section>
      <section>
        <h2>Email</h2>
        <input class="registration-input" type="text">
      </section>
    </div>
    <div class="section">
    <section>
      <h2>City</h2>
      <input class="registration-input" type="text">
    </section>
    <section>
      <h2>Street</h2>
      <input class="registration-input" type="text">
    </section>
  </div>
    <div class="Button">
      <button class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>
