.login-and-registration{
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    border-radius: 10px;

    padding: 10px;
    margin: 10px;


    border: 2px solid #9090ff;
    background: #9090ff;
    text-decoration: none;
    color: white;
    &:hover{
     font-size: 25px;
      -webkit-transition: .2s ease-out;
      -webkit-transition-delay: 0.5s;
      -o-transition: .2s ease-out;
      -o-transition-delay: 0.5s;
      -moz-transition: .2s ease-out;
      -moz-transition-delay: 0.5s;
      transition: .2s ease-out;
      transition-delay: 0.5s;
    }
  }
}
