.wrap{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
}
div{background: #22254b;
color: white;
}
.position{
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
footer{
  height: 90px;
  background: #161a3d;
}
