.developer-list{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 450px;
  min-height: 500px;
  margin: 25px;
  padding: 10px;

  border: 2px dashed white;
  border-radius: 10px ;
  img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
  }
}
