<div  *ngIf="game">
  <div class="detailed-info relative">
    <h1>{{game.name}}</h1>
    <img src="{{game.background_image}}" alt="Game Poster">
    <div class="position-absolute position"><h4>{{game.metacritic}}</h4></div>
    <div class="text">
      <div #description></div>
    </div>
  </div>
  <div *ngFor="let metacritic_platform of game.metacritic_platforms" class="list-of-ratings">
    <ul>
      <li>{{metacritic_platform.platform.name}}</li>
      <li>{{metacritic_platform.metascore}}</li>
      <li><a href="{{metacritic_platform.url}}">To Developers Website</a></li>
    </ul>
  </div>
  <div>
    <h2>Games ScreenShots</h2>
    <app-screen-shot></app-screen-shot>
  </div>
  <div>
    <button (click)="backToGames()">Back to Games</button>
  </div>
</div>

