.list-of-games{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 25px;
  height: 9318px;
}
.pagination{

  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
}


